<div class="landing-content">
    <img class="background-img" src="../../assets/images/env.jpeg" />
    <div class="start-now">
        <p class="message">Dont stay with tied hands. Save the environment today!</p>
        <div class="buttons">
            <a class="btn btn-secondary" routerLink="/about">Learn More</a>
            <a class="btn btn-primary" routerLink="/contact">Start Now!</a>
        </div>
    </div>
    <span class="arrow"><i class="fas fa-angle-double-down"></i></span>
</div>
<div class="container">
    <div class="card">
        <img class="card-img" src="../../assets/images/env_image21.jpg" />
        <div class="card-body">
            <h3>CLIMATE CHANGE MITIGATION AND ADAPTATION</h3>
            <h4>What can be done?</h4>
            <p>
                Addressing climate change will require many solutions—there's no magic bullet. Yet nearly all of these solutions exist today, and many of them hinge on humans changing the way we behave, shifting the way we make and consume energy. The required changes span technologies, behaviors, and policies that encourage less waste and smarter use of our resources. For example, improvements to energy efficiency and vehicle fuel economy, increases in wind and solar power, biofuels from organic waste, setting a price on carbon, and protecting forests are all potent ways to reduce the amount of carbon dioxide and other gases trapping heat on the planet.
            </p>
            <p>"We have the technology today to rapidly move to a clean energy system," write the authors of Designing Climate Solutions. "And the price of that future, without counting environmental benefits, is about the same as that of a carbon-intensive future."
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h3>ENVIROMENTAL PROTECTION</h3>
            <p> 
                Environmental issues are harmful effects of human activity on the biophysical environment. Environmental protection is a practice of protecting the natural environment on the individual, organizational or governmental levels, for the benefit of both the environment and humans. Environmentalism, a social and environmental movement, addresses environmental issues through advocacy, education and activism.
            </p>
        </div>
        <img class="card-img" src="../../assets/images/env_image12.jpg" />
    </div>
    <div class="card">
        <img class="card-img" src="../../assets/images/recyclee.png" />
        <div class="card-body">
            <h3>EVERYTHING YOU NEED TO KNOW ABOUT RECYCLING PLASTICS</h3>
            <p>
                Plastic is one of the most popular and useful materials of modern times: we now use about 20 times more plastic than we did 50 years ago. Its popularity and widespread use is why handling it responsibly and correctly once it becomes waste is so vitally important. We can optimise the lifespan of plastics by re-using and recycling items as many times as possible.
            </p>
              <h4>Did you know?</h4>
              <li>
                 99% of all UK local authorities now offer collection facilities for plastic bottles either through your household recycling collection or at recycling centres. 
              </li>
            <p>
                Mixed plastics packaging (trays, tubs, pots, films etc) can also be mechanically recycled, and it is both economically and environmentally effective to do so. Infrastructure for the collection, sorting and reprocessing of these valuable resources has increased in the UK in recent years.

                Currently, 79% of councils collect other rigid plastic packaging such as pots, tubs and trays in household recycling collections.
            </p>
        </div>
    </div>
</div>