:root{
    --color-primary: #1AD577;
    --color-primary-dark: #13A45B;
    --color-secondary: #1DD9D9;
    --color-secondary-dark: #169595 ;
    --font-prime: sans-serif;
}

html , body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    font-family: var(--font-prime);
}

header {
    height: 83px;
    width: 100%;
}

header .header {
    background-color: var(--color-primary-dark);
    box-shadow: 0 4px 5px saddlebrown;
    width: 100%;
    position: absolute;
    padding: 1rem;
    z-index: 1;
}

footer{
    background-color: var(--color-primary-dark);
    position: relative;
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
    box-shadow: 0 -2px 3px saddlebrown;
}
.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .item a{
    padding: 1rem;
    margin-right: 2px;
    color: var(--color-secondary);
    text-decoration: none;
    position: relative;
    display: block;
    transition: color 300ms ease , box-shadow 300ms ease;
}

.menu .item a:hover{
    color: white;
    box-shadow: 0 1px 3px white , 0 -1px 3px white , 1px 0px 3px white , -1px 0px 3px white;
}

.background{
    position: relative;
}
.background .background-img{
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

.background .login_box{
    background-color: white;
    box-shadow: -1px 0 10px saddlebrown , 0px 1px 10px saddlebrown, 1px 0 10px saddlebrown , 0 -1px 10px saddlebrown;
    width: 500px;
    height: 400px;
    display: block;
    left: calc(50% - 250px);
    top: calc(50% - 200px);
    position: absolute;
    padding: 0px;
    margin: 0 auto;
    justify-content: center;
}

.background .login_box p {
    position: relative;
    padding: 1rem;
    left: 20px;
    font-family: sans-serif;

}

.background .login_box input[type=text]{
    width: 75%;
    padding: 10px 15px;
    margin: 5px 0;
    left: 50px;
    position: relative;
    border: 1px solid gainsboro;
    box-shadow: -1px 2px 5px gray , 1px 2px 5px gray;
}

.background .login_box input[type=submit]{
    width: 25%;
    background-color: var(--color-primary);
    box-shadow: 0px 2px 3px black;
    color: white;
    justify-content: center;
}

.background .login_box .top{
    width: 100%;
    box-shadow: 0 2px 10px black;
    position: relative;
    background-color: var(--color-secondary);
    justify-content: center;
    display: flex;
    padding: 1rem;
    font-size: larger;
    font-weight: bolder;
    text-shadow: 0 0px 5px black;
    margin: 0;
}
.background .login_box .btn {
    background-color: var(--color-primary);
    padding: 1rem 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 300ms ease;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    justify-content: center;
    width: 25%;
    margin-top: 15px;
    position: relative;
    left: 35%;
}
.background .login_box .btn:hover{
    background-color: var(--color-primary-dark);

}

