<div class="side_pc">
  <div class="sidecard">
    <div class="sidecard-body">
      <nav>
        <ul class="side">
            <li class="side-item" routerLinkActive="active">
              <a routerLink="/userprofile"><i class="fa fa-user"></i> Profile</a>
            </li>
            <li class="side-item" routerLinkActive="active">
              <a routerLink="/test"><i class="fa fa-check" aria-hidden="true"></i> Dashboard</a>
            </li>
            <li class="side-item" routerLinkActive="active">
              <a routerLink="/test"><i class="fa fa-check" aria-hidden="true"></i> Teams</a>
            </li>
        </ul>
    </nav>
    </div>
  </div>

</div>
