<div class="header pc">
    <nav>
        <ul class="menu">
            <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="/">Home</a>
            </li>
            <li class="menu-item" routerLinkActive="active">
                <a routerLink="/news">News</a>
            </li>
            <li class="menu-item" routerLinkActive="active">
                <a routerLink="/about">About us</a>
            </li>
            <li class="menu-item" routerLinkActive="active">
                <a routerLink="/contact">Contact</a>
            </li>
            <li class="menu-item" routerLinkActive="active">
                <a routerLink="/sign">Sign</a>
            </li>
            <li class="menu-item" routerLinkActive="active">
                <a routerLink="/feed">Feed</a>
            </li>
        </ul>
    </nav>
</div>


<div class="header mobile">
    <div #con class="con" (click)="toggleham(con,sidenav)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
</div>
<div #sidenav class="sidenav">
    <nav class="mmenu">
        <ul class="menu">
            <li class="menu-item">
                <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="menu-item">
                <a routerLink="/news" routerLinkActive="active">News</a>
            </li>
            <li class="menu-item">
                <a routerLink="/about" routerLinkActive="active">About us</a>
            </li>
            <li class="menu-item">
                <a routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
            <li class="menu-item">
                <a routerLink="/sign" routerLinkActive="active">Sign</a>
            </li>
        </ul>
    </nav>
</div>