<div class="main_box">
  <div class="border_image">
    <img src="{{ post.image ? post.image : '../../assets/images/env.jpeg' }}">
  </div>
  <div class="title">
    <b>{{ post?.title }}</b>
  </div>
  <div class="whole_content">
  <div class="content">
    <p>{{ post?.content }}</p>
  </div>
    <div class="event_info">
      <div class="line">Starts at: {{event.start}}</div>
      <div class="line">Ends at: {{event.end}}</div>
      <div class="line">Location: {{event.place}}</div>
    </div>
  </div>
  <div class="info">
    <p>*User Profile Picture Link*</p>
    <p>{{post?.updated_at.toString().split('T')[0]}}</p>
  </div>
</div>
