<div class="landing-content">
  <img class="background-img" src="assets/images/back.jpg" />
  <div class="message">
    <div class="row">
      <p i18n class="item">We are students of the Aristotle University of Thessaloniki</p>
    </div>
    <div class="row">
      <img class="img" src="assets/images/AUTH_(logo).png">
    </div>
    <div class="dots">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>

  </div>
</div>
<div class="splitter"></div>
<div class="box">
  <div class="img">
    <img src="assets/images/env.jpg">
  </div>
  <b i18n class="text" align="center">We are simply a group of people with a plan to make our University ,
    and why not our city , country or even the world , a better and healthier place for their people.
    Our goal for the time being is to inspire other students to cooperate with us into taking better care of our University
    by organizing cleaning events, growing plants, and other respectful events towards the environment of the place we
    spend a lot of our time at!</b>
  <div class="img">
    <img src="assets/images/env.jpg">
  </div>
</div>
