:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main_box{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}
.main_box *{
  margin-bottom: 10px ;
}

.post{
  background-color: white;
  border-radius: 3px;
  width: 100%;
  padding: 1rem;
  border-style: solid;
  border-color: black;
}
.post *{
  margin-right: 10px;


}
.post a{
  cursor: pointer;
  margin-left: 20px;
}

