
.container{
    display:flex;
    padding: 5px;
}

.box {
    margin: 20px;
    align-items: center;
    justify-content: left;
    display: flex;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    background-color: rgb(244, 247, 250);
}

.card-img{
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 400px;  
    padding-left : 6px;
    border-radius: 20px;
    
}
.date{
    color: #666;
    text-transform: uppercase;
    font-size: 0.85em;
    
}

.boxquote{
    width: 100%;
    align-items: center;
    justify-content: center;
    color: black;
    text-align : justify ; 
    margin : 12px;
    margin-top:0;
    padding : 12px;
    max-height: 289.5px; 
    overflow: hidden;
    
}
.u-underline {
    text-decoration: none !important;
    border-bottom: 0.05rem solid red;
}
.articles{
    flex:15%;
    margin:0;
    padding : 0;
    margin-top:30px;
    display:block;  
    justify-content: center;
}
.art-img{
    max-width: 100%;
    
}
.news{
    flex:85%;  
}
.chapter{
    border-bottom :1px solid black ;
    margin : 20px;
    margin-right: 60px;
    margin-top: 30px;
    width:120px;
}

a:visited{
    color: black;
}

a:hover {
    color : rgb(21, 138, 56);
}

a:active{
    color : black;
}

.center{
    text-align: center;  
}
.pagination {
    display: inline-block;
    padding-bottom:12px;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size:18px;
  }
  
  .pagination a.active {
    background-color: rgb(17, 141, 17);
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: rgba(180, 177, 177, 0.856);
    border-radius: 7px;
  }

@media screen and (max-width: 1200px){

    .container{
        max-width: 990px;
        margin-left:auto;
        margin-right:auto;
    }
     .container {
          flex-direction: column; 
     }
     .articles{
         display:flex;   
     }
     .atitle{
         display:none; 
     }
     .chapter{
         max-width: 300px;
     }
 
    
 }
 @media screen and (max-width: 990px){
     
     .container{
        max-width :780px;
    }
    .card-img{
        width: 100%;
    }
 }
 
 @media screen and (max-width: 766px){
     
     .container{
         max-width: 570px;
     }
     .box{
         flex-direction:column;
     }
     .articles{
         flex-direction: column;
         justify-content: center;
         align-items: center;     
     }
     .chapter{
         width:550px;
         font-size: 20px;
         padding-left:10px;
     }
     
     .card-img{
         max-width: 100%;
         padding :5px;
     }
 }