:root {
    --color-primary: #5f9ea0;
    --color-secondary: #a3c1ad;
    --color-primary-dark: #4c7f81;
    --color-secondary-dark: #77a386;
    --color-success: ;
    --color-danger: #8d0101;
    --color-warning: #fccb29;
    --color-info: #a0d6d4;
    --color-light: #e0f2f1;
    --color-dark: #317873;
    --font-primary: sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

* {
  box-sizing: border-box;
  font-family: var(--font-primary);
}

a {
    text-decoration: none;
}

.bg {
    /* The image used */
    background-image: url("../images/env.jpeg");
    display: block;
    /* Full height */
    height: 100vh;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Add styles to the form container */
.container {
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 300px;
    padding: 16px;
    background-color: white;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border:1px solid lightgray;
    background: white;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
  }

  .psw{
    margin: 4px 4px;
    bottom: 10px;
    position: relative;
  }
  
  /* Set a style for the submit button */
  .btn {
    border-radius: 10px;
    background-color: var(--color-primary);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }

  .remember{
    position: relative;
    top: 8px;
  }

  .create{
    border-radius: 15px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
    position: relative;
    top: 600px;
    left: 550px;
  }
