<div class="main_box">
  <div class="border_image">
    <img src="{{ post.image ? post.image : '../../assets/images/env.jpeg' }}">
  </div>
  <div class="title">
    <b>{{ post?.title }}</b>
  </div>
  <div class="content">
    <p>{{ post?.content }}</p>
  </div>
  <div class="info">
    <p>*User Profile Picture Link*</p>
    <p>{{post?.updated_at.toString().split('T')[0]}}</p>
  </div>
  <div *ngIf="auth" class="actions">
    <button class="btn" [class.liked]="liked" (click)="handleLike()"><span class="fas fa-tree"></span> Like</button>
    <button class="btn comment" routerLink="/post/{{post.id}}" fragment="comments">Comment</button>
  </div>
</div>
