.side_pc {
  padding-top: 2rem;
  width: 100%;
}

.sidecard {
  width: 100%;
  padding: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 1rem 1rem;
  border-radius: 20px;
}

.sidecard-body {
  color: black;
}

.side {
  list-style-type:none;
  padding: 0;
}

.side-item {
  padding: 0.8rem;
}

.side-item.active {
  background-color: var(--color-secondary);
  border-radius: 5px;
}

.sideheader-item {
  padding: 0.8rem;
}
