<div class="side_pc">
  <div class="sidecard">
    <div class="sidecard-body">
      <nav>
        <ul class="side">
            <li class="side-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/admin"><i class="fa fa-user"></i>Profile</a>
            </li>
            <li class="side-item" routerLinkActive="active">
              <a routerLink="/admin/posts"><i class="fa fa-check" aria-hidden="true"></i> Posts</a>
            </li>
            <li class="side-item" routerLinkActive="active">
              <a routerLink="/admin/teams"><i class="fa fa-check" aria-hidden="true"></i> Teams</a>
            </li>
        </ul>
    </nav>
    </div>
  </div>

</div>
