.header {
  width: 100%;
  color: white;
  padding: 1rem;
  height: 80px;
  background-color: var(--color-dark);
  box-shadow: 2px 2px 5px black;
}

.header.mobile {
  display: none;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 3;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.menu .menu-item {
  padding: 1rem;
}

.menu .menu-item a {
  color: var(--color-secondary);
  display: block;
  position: relative;
  transition: color 300ms ease;
}

.menu .menu-item a::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  height: 0.2rem;
  width: 100%;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 300ms ease;
  background-color: var(--color-info);
}

.menu .menu-item a:hover {
  color: white;
  display: block;
}

.menu .menu-item a:hover::after {
  transform: scale(1, 1);
}

.menu .menu-item.active a {
  color: white;
  font-weight: bold;
}

.menu .menu-item.active a::after {
  transform: scale(1);
}

.mmenu .menu .menu-item a::after{
    content: none;
}


.con {
  display: inline-block;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transform-origin: top right;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: var(--color-primary-dark);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  display: none;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  // text-decoration: none;
  // color: var(--color-secondary);
  display: block;
  transition: 0.3s;
}

// .sidenav .active {
//   color: white;
//   font-weight: bolder;
// }

// .menu {
//   list-style-type: none;
//   padding: 1px ;
// }

@media only screen and (max-width: 992px) {
  .header.pc {
    display: none;
  }
  .header.mobile {
    display: flex;
  }
  .sidenav {
    display: block;
    padding-top: 100px;
  }
  .menu {
    padding: 1px ;
    display: block;
  }
  .menu .menu-item {
    padding: 0.5rem;
  }
  .menu .menu-item .active {
    color: white;
    font-weight: bold;
  }
}

@media only screen and (max-width: 576px) {
  .header {
    height: 60px;
  }
  .sidenav {
    padding-top: 70px;
  }
}