
.main_box {

    position: static;
    padding : 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    flex: 1 1 auto;

}

.main_box .image{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    filter: blur(5px);
    flex: 1 1 auto;

}
.main_box .contact_window{
    padding: 1rem;
    width: 475px;
    height: 400px ;
    max-width: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: calc(50% - 232.5px);
    bottom: calc(50% - 100px);
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 30px black;
}

.main_box .contact_window .text_field{
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
}

.main_box .contact_window .text_field p{
    position: relative;
    width: 100%;
    font-size: 16px;

}
.main_box .contact_window .text_field h1{
    position: relative;
    width: 100%;
    font-size: 25px;
    margin-top: 0;

}


.main_box .contact_window .social{
    position: relative;
    margin-top: 1px;
    justify-content: left;
    display: flex;
    width: 100%;
    left: 0;
}
.main_box .contact_window .social  a img{
    position: absolute;
    object-fit: cover;
    margin: 0;
    padding: 0;
    top: 0;
    border: none;
    width: 100%;

}

.main_box .contact_window .social  a img:nth-child(1){
    border-radius: 50%;
}

.main_box .contact_window .social a{
    position: relative;
    margin: 0;
    width:  20%;
    height: 20%;
}
.main_box .contact_window .social a:nth-child(2){
    margin-left: 5%;
}
