<div class="main_box">
    <img class="image" src="../../assets/images/back.jpg" />
    <div class="contact_window">
        <div class="text_field">
            <h1><b>Find us through:</b></h1>
            <p><b>E-mail: randomemail@gmail.com</b></p>
            <p><b>Phone: 123456789</b></p>
            <p><b>Social Media:</b></p>
        </div>
        <div class="social">
            <a href="#"><img src="../../assets/images/Facebook.png" href="#" /></a>
            <a href="#"><img src="../../assets/images/Instagram.png" href="#" /></a>
        </div>

    </div>
</div>