<div class="main_box">
    <img class="image" src="../../assets/images/back.jpg" />
    <div class="contact_window">
        <h1><b>Find us through:</b></h1>
        <div class="text_field">
            
            <div class="row">
                <label>Email: </label>
                <a href="mailto:maliouri@csd.auth.gr">maliouri@csd.auth.gr</a>
            </div>
            <div class="row">
                <label>Phone: </label>
                <a href="tel:+306986893638">+30 6986893638</a>
            </div>
            <div class="social-sec">
                <label>Follow us:</label>
                <a class="social" href="https://www.facebook.com/csdauthgr" target="_blank"><i class="fab fa-facebook"></i></a>
                <a class="social" href="https://www.instagram.com/auth_university_thessaloniki/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>