
:host {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    height: 100%
}

.main_box {

    position: relative;
    padding: 0;
    display: flex;
    background-color: white;
    width: 100%;
    margin: 0;
    height: 100%;
    flex: 1 1 auto;

}

.main_box .image{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    filter: blur(5px);

}
.main_box .contact_window{
    padding: 1rem;
    width: 475px;
    height: 400px ;
    position: static;
    display: flex;
    flex-direction: column;
    margin-left: calc(50% - 232.5px);
    margin-top: 5rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 30px black;
    z-index: 1;
}

.main_box .contact_window .text_field{
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
}

.main_box .contact_window .text_field p{
    position: relative;
    width: 100%;
    font-size: 16px;

}
.main_box .contact_window .text_field h1{
    position: relative;
    width: 100%;
    font-size: 25px;
    margin-top: 0;

}


.main_box .contact_window .social{
    position: relative;
    margin-top: 1px;
    justify-content: left;
    display: flex;
    width: 100%;
    left: 0;
}
.main_box .contact_window .social  a img{
    position: relative;
    object-fit: cover;
    margin: 0;
    padding: 0;
    top: 0;
    border: none;
    width: 100%;

}

.main_box .contact_window .social  a img:nth-child(1){
    border-radius: 50%;
}

.main_box .contact_window .social a{
    position: relative;
    margin: 0;
    width:  20%;
    height: 20%;
}
.main_box .contact_window .social a:nth-child(2){
    margin-left: 5%;
}

@media only screen and (max-width: 575px) {

  .main_box .image{
    display: none;
  }

  .main_box .contact_window{
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    border-radius: 0;
    box-shadow: none;
  }
  .main_box .contact_window .text_field h1{
    font-size: 30px;
  }
  .main_box .contact_window .text_field p{
    font-size: 20px;
  }
  .main_box .contact_window .social{
    align-items: center;
  }

  .main_box .contact_window .social a{
    margin-top: 10px;
    width: 30%;
    height: 30%;

  }
}
