
<div class="container">
      
    
    <div class="Announcements">
        <div class="box">
            
            <img class="card-img" src="assets/images/teamtrees.jpg">
            <div class="boxquote">
                <a href="#">
                <h2>Join TeamTrees!</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </a>
            </div>
        </div>
        <div class="box">
            <img class="card-img" src="assets/images/tree.jpeg">
            <div class="boxquote">
                <a href="#"> 
                <h2>Omae Wa Mou...</h2>
                
                    
                    <p>
                        Shindeiru ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </a>
            </div>
       </div>
        <div class="box">
            <img class="card-img" src="assets/images/recycling.jpg">
            <div class="boxquote">
                <a href="#">
                <h2>Recycle Movement</h2>
                
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </a>
            </div>
        </div>
    </div>
     
        <div class="articles">
            
            <div class="atitle"> 
                <h2>Recent Articles</h2> 
            </div> 
            <div class="chapter">
                <a href="#">
                <img class="art-img" src="assets/images/conf.jpg">
                <h4>20th Annual Conference in Ximen,China</h4>
                <p>25/2/2020</p>
                </a>
            </div> 
            <div class="chapter">
                <a href="#">
                <img class="art-img" src="assets/images/pollute.jpg">
                <h4>Factory Emissions Decreased by 42%</h4>
                <p>29/10/2020</p>
                </a>
            </div>

            <div class="chapter">
                <a href="#">
                <img class="art-img" src="assets/images/forest.jpg">
                <h4>Amazon Rainforest Burned Down </h4>
                <p>2/2/2019</p>
                </a>
            </div>
        
        </div>
</div>
