:root {
  --color-primary: #5f9ea0;
  --color-secondary: #a3c1ad;
  --color-primary-dark: #4c7f81;
  --color-secondary-dark: #77a386;
  --color-success: ;
  --color-danger: #8d0101;
  --color-warning: #fccb29;
  --color-info: #a0d6d4;
  --color-light: #e0f2f1;
  --color-dark: #317873;
  --font-primary: sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1199px;
  padding: 2rem 1rem;
  /* background-color: white; */
}


footer {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  background-color: var(--color-dark);
  box-shadow: -2px -2px 2px black;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 991px;
  }
}

@media only screen and (max-width: 992px) {
  .arrow {
    display: none;
  }
  .start-now .message {
    font-size: 2rem;
  }
  .container {
    max-width: 768px;
  }
  .header.pc {
    display: none;
  }
  .header.mobile {
    display: flex;
  }
  .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 576px) {
  .start-now .message {
    font-size: 1.3rem;
  }
  .card {
    flex-direction: column;
  }
  .card .card-img {
    order: 0;
  }
  .card .card-body {
    order: 1;
  }
}
