.cont {
  margin: 10px;
  padding: 10px;
}

.tm {
  width: 100%;
  border-radius: 10px;
  padding: 3px 3px 15px 15px;
  background-color: white;
}

.fa-users {
  margin-left: 10px;
}

.pst {
  width: 100%;
  border-radius: 10px;
  padding: 20px 15px 3px 15px;
  background-color: white;
}

.author {
  font-size: large;
  font-weight: bold;
}

.fa-user {
  margin-left: 10px;
}
