:host{
  width: 100%;
}

.container {
  width: 100%;
}

.tm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: default;
  width: 100%;
  padding: 1rem;
  margin: 5px;
  font-weight: bold;
  font-size: large;
  background-color: var(--color-secondary);
}

.fa-pen {
  margin-left: 10px;
}

.remove:hover {
  cursor: pointer;
  color: var(--color-danger) !important;
}

.fa {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.fa-trash:hover {
  cursor: pointer;
  color: var(--color-danger);
}

.crt {
  width: 200px;
  padding: 0.8rem;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  outline-width: 0px;
  border-width:0;
  background-color: var(--color-primary);
  margin-top: 15px;
  margin-left: 5px;
}

.crt:hover {
  background-color: var(--color-primary-dark);
  cursor: pointer;
}


@media only screen and (max-width: 1024px) {
  .crt {
    width: 15%;
  }
}

@media only screen and (max-width: 576px) {
  .crt {
    width: 30%;
  }
}
