.container {
  width: 100%;
}

.tm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 100%;
  padding: 1rem;
  margin: 5px;
  font-weight: bold;
  font-size: large;
  background-color: var(--color-secondary);
}

.btn:hover {
  background-color: var(--color-secondary-dark);
}

.fa-pencil {
  margin-left: 10px;
}

.fa-trash {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.fa-trash:hover {
  cursor: pointer;
  color: var(--color-danger);
}
